[2020-02-10 07:55] ntoulasd opened #1 "Request apk file"
Could you also provide apk file. We dont all have google play accounts.

Thanks

[2020-02-10 08:40] agervail commented on #1
Yes, I was going to ask exactly the same thing, if you could do a release once in a while it would be greatly appreciated !!!

[2020-02-10 09:35] agervail commented on #1
You could also upload it on F-droid as it is open source ;) so we can get the updates !

[2020-02-10 12:43] petrus-lt opened #2 "Use Maidenhead locator as source for location."
@rt-bishop, this is app looks really great.

One nice feature I guess would be to get the location from a known maidenhead locator. This would allow the app to run almost without any privileges.

Once a maidenhead lib is included, you can easily show the grid locator from the location if allowed by the user :)

[2020-02-10 14:13] agervail commented on #2
Can't find any android libraries doing that. But it looks easy to compute the coordinate with a simple formula.
What about what3words that looks like it's used a lot on the playstore ?

[2020-02-10 15:23] petrus-lt commented on #2
what3words is a company and using a proprietary algorithm. Nothing prevents them to change the words tomorrow. It might need an active internet connection. And how do I know if entrepôt.formuler.magique (so easy to spell, write in cw or use in ft8..) is near vermeil.entier.riveter? Using Maidenhead I know that N is around my latitude, CONUS is between ~C and E, Europe between I-K etc.
For those re

[2020-02-10 16:53] agervail commented on #2
I think you're absolutely right, didn't think of all those points.
I have to agree with you.
I will take a look at the application code to see if I can help but I'm definitely not an android developper....

[2020-02-11 10:38] rt-bishop commented on #1
Hello, everyone!
Have just added an apk file to the release-apk folder in the repository, as you requested.

To release it on F-Droid I still need to get rid of GooglePlay location services dependency. I'll do this (and a lot of fixes) as soon as I can. Currently I have just an hour or so of the free time in the mornings for this app, but hopefully will do another release within a week.

Thank you

[2020-02-11 10:38] #1 closed

[2020-02-11 11:01] agervail commented on #1
Great, thanks.
Maybe if you have time you can also do a "github release" there : [github release](https://github.com/rt-bishop/Look4Sat/releases)
Your app is great !!

[2020-02-12 10:03] der-stefan opened #3 "Publish on F-Droid"
Great piece of software! What do you think about publishing it on F-Droid additionally?

[2020-02-12 12:27] rt-bishop commented on #2
Hey, guys!
I will definitely do it, already have some ideas about the ways to add this functionality. However, the priority for now is bug fixes, the reports show quite a few bugs that I can't reproduce on any of my devices. Once they are fixed, I'll proceed to the locator implementation.

[2020-02-12 12:34] rt-bishop commented on #3
I have plans to do that, but first I need to get rid of Google Play location services dependency and switch to the native api. I think I'll do it within a week or two, struggling with free time at the moment. But yeah, it'll be on F-Droid soon.

[2020-02-12 16:06] joeswhite commented on #2
Are you married to a specific location provider like maidenhead?
Also, and more importantly, you talk about being unable to reproduce bugs you are being informed about, I'm trying to find the references in some form or either an issue on github or a notes file for these bugs so I can replicate them and document the steps taken to replicate them and fix them. Where are the bugs referenced so I can

[2020-02-12 22:33] rt-bishop commented on #2
I'm getting quite a few (over 140 tbh) crash reports from the Google Play developer console with stack traces and all that, but most of the crashes are hard to reproduce. That would be epic to get any proper bug reports, but not all the users can or want to do that. Also there are some bugs in predict4java library that lead to certain TLE items cause an indefinite loop calculation. I'm about to fi

[2020-02-13 14:34] joeswhite commented on #2
If you are interested, I can open a new issue reguarding all errors that you are being notified of so they can be discussed so this thread doesn't get cluttered? Then we can pick each problem apart if you want to post some of the common problems there? I'm working through older versions of Android on old devices attempting to replicate crashes and would like to document what I've tried so far

[2020-02-17 16:59] der-stefan commented on #3
Great, thank you!

[2020-02-18 15:37] novakmi85 opened #4 "Request: select all sats"
Could you please add "SELECT ALL" feature to select all satellites? Thank you. (BTW: Great software, thank you very much!)

[2020-02-19 09:15] rt-bishop commented on #2
Things seem relatively stable at the moment, so I can start adding features. If you experience any bugs or crashes all the bug reports will be greatly appreciated.

[2020-02-19 09:17] rt-bishop commented on #4
Hey) Actually working on it at the moment, as wel as on the search function. Will add more satellites after that.

[2020-02-19 21:37] trebor-56 commented on #4
Option to centeralise map 3 options should be ample
as is, Africa, (how it is now) or South America or AU, set as default, or to Location (full view)

When On active sat (Bullseye and Data) an Icon to quickly switch to map for that Sat
and on map and Icon to go back to data.
Thanks

[2020-02-23 22:37] rt-bishop commented on #4
That's an interesting proposition. I'll definitely look into that. Thanks!

[2020-02-23 22:47] rt-bishop commented on #4
I've just recently released v1.3.0 with search feature, select all/none button and additional sats. By additional sats I mean all currently active sats from celestrak, which is an INSANE amount. Don't forget to update your TLE file via the main menu. I tried to calculate passes for all of them... just be patient, it may take slightly under a minute. Not sure if it's that useful though. I look forw

[2020-02-23 22:47] #4 closed

[2020-02-23 23:16] novakmi85 commented on #4
Hi.

I have updated the app in my phone. Looks like everything works fine now.
Great work! Thanks a lot.

Kind regards
Michal

On Sun, Feb 23, 2020 at 11:47 PM Arty Bishop <notifications@github.com>
wrote:

[2020-03-14 02:45] ckuethe opened #5 "Feature request: load custom TLE file"
This would be useful for spotting satellites for which TLEs aren't available or good enough. Celestrak publishes supplemental TLEs for starlink which may be better than those from JSPOC.

I'd like to be able to load a file of TLEs from a url or sdcard and then from that list select the objects to predict.

Thanks!

[2020-03-17 15:36] rt-bishop commented on #5
That it definitely a part of my plan. Hopefully I'll get it done within the next few weeks.

[2020-03-17 20:26] ckuethe commented on #5
Note that some TLE sources, eg. https://tle.info/data/TLE.ZIP, are distributed as zip archives - if automatic decompression is inconvenient I can manually decompress.

[2020-03-21 11:23] Symbian9 commented on #3
JFTR, here is its page in *IzzyOnDroid Repository*

- https://apt.izzysoft.de/fdroid/index/apk/com.rtbishop.look4sat

[2020-03-23 00:19] Milan12332567 opened #6 "Feature request: Use of compass"
Hi, love the app, but id like the option to enable rotation of "radar" by compass.
Thanks

[2020-03-23 11:09] vanchinh55 opened #7 "theo dõi vệ tinh"

[2020-03-28 09:43] 1kaiser opened #8 "3d globe and 3d satellite features"
3d globe and 3d satellite features

[2020-03-28 14:28] rt-bishop commented on #8
Thanks for a very informative request. However, I would like this app to NOT have this feature.
So won't fix)

[2020-03-28 14:28] #8 closed

[2020-03-29 02:31] 1kaiser opened #9 "Some satellites are not shown even if clicked"
Some satellites are not visible on map eg "aefh 4" but the "aehf 3" is available when seclected

[2020-03-29 10:24] rt-bishop commented on #9
Yes, if you selected the satellite but it has no upcoming passes over your location, you won't see them on the map. Only the satellites with calculated upcoming passes are gonna be drawn. To see all of them simply increase the time for passes calculation from 8 hours to like 24 or smth. #wontfix #notabug

[2020-03-29 10:24] #9 closed

[2020-03-29 17:27] therman89 commented on #6
Up! A compass would be really handy for handheld satellite tracking.

[2020-03-29 17:29] therman89 opened #10 "Feature request: Notification of pass start"
A notification of some kind would be helpful, for example at the start of the pass of the satellite or some defined time before that. If enabled, care should be taken about the situation, when ALL satellites are checked!

[2020-03-29 17:31] therman89 opened #11 "Feature request: keep screen on for tracking view"
As per the title. The screen should be kept awake in the tracking mode or there should be an option for enabling it.

[2020-03-29 17:32] therman89 opened #12 "List of passes does not refresh automatically when app is opened"
I need to manually refresh the list after I open the app. I think this should be automatic.

[2020-03-29 17:34] therman89 opened #13 "View refresh rate does not affect tracking view"
The tracking view or single satellite mode data does not refresh, only when I tap back and open again the view.

[2020-03-29 17:50] therman89 opened #14 "Satellite selection is lost after TLE update"
If I have selected satellites in the main view and I update the TLE date, the satellite list is gone, because the selection is cleared. Selection should be stored in memory to recover it after TLE update.

[2020-03-30 16:24] rt-bishop commented on #11
Fixed in recent bd2891e commit. Will be shipped via PlayStore in v1.3.4 by the end of the week!
Later I will add a toggle for that in preferences.

[2020-03-30 16:24] #11 closed

[2020-03-30 16:29] rt-bishop commented on #13
I'm not entirely sure why this is happening because I can't reproduce this behaviour on any of the devices I have. The "view refresh rate" setting correctly applies to both the Map view and the single sat Polar view updating the values every 250-10000ms. Would you be more specific on that issue?

[2020-03-30 16:37] rt-bishop commented on #14
I'll address the issue as soon as I can, I understand this is quite annoying. Working on rewriting some parts of predict4java lib now, will do this one straight after.

[2020-03-30 16:40] rt-bishop commented on #6
Thanks for your request, guys! Probably will add it within the next few weeks, first I need to peek on how other apps implemented this)))

[2020-03-30 16:45] rt-bishop commented on #10
Tbh I was thinking several times about the notifications and the way to implement them. Still not sure if I actually want them in the app, for me it was always more of a "real-time" usecase. I'll just leave it open for now, maybe I'll come up with a nice way of doing that.

[2020-03-30 20:20] rt-bishop commented on #12
The issue is fixed in e52e6ec commit. Will be shipped in v1.3.4 by the end of the week.

[2020-03-30 23:47] ckuethe commented on #10
I know I'd like to get notifications. A few ideas:
* have some filters for which passes will generate notifications... eg. always ping me when the ISS and SpaceX DarkSat are going to be above some elevation.
* have a notification queue, to which selected passes can be added.
* create an event with the alarm clock or calendar apps

When calculating pass times, I'd be interested in when the satellit

[2020-03-31 08:53] therman89 commented on #13
I can show it in a screencast video: https://photos.app.goo.gl/GNcHxUznanmYbmqN7
Watch the azimuth or elevation changing only once after I open the single sat view. When I press back and open it again, it will change only once again.

[2020-03-31 09:18] rt-bishop commented on #13
I can see the app still sets the initial data straight after the fragment launch, updates it once and then stops. I've never seen this behaviour on any of my devices (testing on ~12 devices I have access to). Is there a chance you can try it on any other phone? Also can you tell me your phone's make and model?

[2020-03-31 09:35] therman89 commented on #13
Strange, I will try on another device, when I can. Mine is a Huawei P9, check the screenshot for details.
![Screenshot_20200331-113412](https://user-images.githubusercontent.com/10553343/78011311-b7179300-7343-11ea-872b-d76b106272e6.png)

[2020-04-01 18:34] Milan12332567 commented on #6
yeah, i need to track for HRPT so it whuld be great

[2020-04-06 12:39] rt-bishop commented on #13
In the recent update I swapped the Java Executors based view refresh timer for the Kotlin coroutines one. As I've never encountered this bug myself I can't really test whether it's now fixed or not, so I'm just gonna wait for you to confirm if the bug is still there.

Also, did you try the app on any other device? I had another user with the same issue on Android 6.0, but still I can't find any pr

[2020-04-06 16:35] therman89 commented on #13
I can confirm that this isue has been resolved on my device.

[2020-04-07 09:49] #13 closed

[2020-04-23 21:06] rt-bishop commented on #14
Fixed in recent cf86892ad574d3edc9fb44bc9f2a0ca8ea3637d5 commit

[2020-04-23 21:06] #14 closed

[2020-04-24 05:42] therman89 commented on #12
I need to reopen this, as the function is buggy. If you use the app, close it, then open it later, the list dies not refresh, instead it shows wrong predictions.
This bug might be connected with the other, that every time you refresh the list of passes, the AOS and LOS times can change by 1-2s every time.

See:
https://photos.app.goo.gl/kBenDUsFYKzPQD4Z8

[2020-04-24 18:46] IzzySoft commented on #3
@rt-bishop could you please fix the changelogs in your Fastlane structure? For the latest release (`versionCode` 11), there's no `11.txt` – and the one that is there doesn't match any existing `versionCode`. My updater just reported it missing :wink:

[2020-05-02 03:20] ryandzink commented on #6
I'm not sure if this should be its own request or not, but maybe a direction arrow on the radar view showing start and end of each pass? That info is on the pass listing view but not on the radar itself.

[2020-05-27 14:56] rt-bishop commented on #6
Feature added in recent 80b62b46580735334c8acd2410b7b1831bc8cbbf

[2020-05-27 14:56] #6 closed

[2020-05-27 14:57] rt-bishop commented on #5
Feature added in recent 389edcb33ae65e41f5b2926c6947cd0bea51d20a commit

[2020-05-27 14:57] #5 closed

[2020-05-27 15:01] rt-bishop commented on #12
As far as I know the time change by 1-2s is an issue of predict4java lib, but I will look into that issue.

[2020-05-27 17:53] ckuethe opened #15 "TLE file import filter too restrictive?"
Thanks for adding the ability to import custom TLEs in #5. I was just playing with that this morning and noticed a couple of things.

First, zip file import doesn't work from either the network or from local storage, eg. https://tle.info/data/TLE.ZIP. I know I can uncompress the TLE on my phone, but if I'm wishing for things I wish that zip archives containing a single file could be decompressed o

[2020-05-27 20:43] IzzySoft commented on #3
@rt-bishop Fastlane changelogs are still broken. Gradle gives versionCode 14, and there's no `14.txt` – instead there are `100000.txt` and `100001.txt` which match no existing versionCode. From the timestamps I assume the latter should match the current release? They are no use if they cannot be matched.

[2020-05-28 17:35] rt-bishop commented on #3
@IzzySoft Thank you very much for letting me know. Somehow completely missed all the notifications on the github issues. Also didn't realise that the filename should match the version code. It's done now.

[2020-05-28 19:44] IzzySoft commented on #3
@rt-bishop for your convenience: [My Fastlane Cheat-Sheet](https://gitlab.com/snippets/1895688) :wink:

And wasn't that `15.txt` for VC 14? I manually fetched it just after that release, taking the latest there was IIRC. But as the names couldn't be matched, it's of course hard to tell – though the content of `15.txt` matches what the release comment for VC 14 says. Ah, well, I see: the only chang

[2020-06-05 20:01] JonnyTech opened #16 "Constellation view"
Thank you for making this excellent app. A great replacement for the proprietry [SatOrbit](https://play.google.com/store/apps/details?id=sil.satorbit). Can I please request a constellation or planet (or simple sun and moon) view? My device does not have a compass or similar sensor so would help to locate directions. I currently use Look4Sat together with [Planisphere](https://github.com/tengel/And

[2020-06-08 14:45] ryandzink opened #17 "Ability to group/filter selected satellites"
I was wondering if it might be possible to group the selected satellites into different folders. For example, based on what equipment you have with you you might only be able to work FM satellites so you would want to temporarily filter out linear satellites, etc. in the upcoming pass view.

[2020-06-15 16:08] rt-bishop commented on #15
@ckuethe thanks for the proposition and sorry for late reply. I'll look into that issue, however I'm not sure yet what's the best way of implementing it and when it's going to be done)

Also AFAIK "type = text/*" doesn't limit the files just to txt, it means any text file in MIME.

[2020-06-15 16:15] rt-bishop commented on #17
Good day to you @ryandzink! In order to address this issue I need to rewrite quite a lot of app logic. I'm going to do it anyway, not sure when though, as I develop this app in my free time.

[2020-06-15 16:59] rt-bishop commented on #16
Thank you for your kind words and for using the app @JonnyTech!
I've never used SatOrbit before so didn't use it as a reference. Looked through it and wasn't really impressed, nothing caught my eye. I'm currently working on the OpenStreetMap integration instead of a very simple MapView that we currently have.
I dind't even know about Planisphere existence. Although it looks quite interesting, I ca

[2020-06-15 17:32] ckuethe commented on #15
No worries, I wrote a little python web server to fetch, decompress, and serve up a custom set of TLEs.

Just reporting the behavior I saw on my phone: `file.txt` was available for import, the same file, renamed to `file.tle` was not. I'm guessing that Android doesn't know that tle is txt too.

[2020-06-15 18:42] JonnyTech commented on #16
Don't worry about trying to implement what you don't want to, I am just glad that the app exists in the FOSS community, and I appreciate your reply. A correction: parts of SatOrbit are open (https://github.com/Userpack4/Sgp4Silvio) so apologies to the author, but both apps are similar and t

[2020-06-15 19:04] ckuethe commented on #17
This could totally turn into a couple of very big project:

I'm imagining a database grouped by name, NORAD, or COSPAR numbers that is independent of TLE sources. Then you could, for example select all the starlink satellites. Or all the OSCARs, or ... to display or hide.

I say independent of TLE sources because maybe you want to get the supplemental TLEs for Starlink and the ISS from their opera

[2020-06-16 13:32] rt-bishop commented on #17
Your ideas sound great, although implementing them means a proper revamp of the predict4java library. Ex TLE import has to be modified with the DB and all these providers in mind, also passes calculation logic requires some work... As for now fetching new TLEs just adds them to the main internal DB, overwriting on conflicts, without even an option to clear the DB. Filtering is simply done by name

[2020-06-16 14:03] rt-bishop commented on #16
It's good to receive all this feedback, new ideas etc, it's just they require a lot more time than I currently have. I had a look at Sgp4Silvio lib.. predict4java that I currently use seems superior in a lot of ways, obviously having it's caveats though, which I may fix one day.

I always prefer offline apps myself, so the OSM integration is being done with that in mind. The plan is to use the gen

[2020-06-18 23:01] #3 closed

[2020-07-14 03:27] SHMAUS-Carter commented on #15
It may depend on the file manage that you use.

[2020-07-26 15:54] ryandzink opened #18 "Sporadically the pass list shows no passes and an endless "refresh" indicator"
I've had this happen a number of times, but can't figure out what circumstances cause it to happen.

When I go to the pass list, I see what looks like an empty pass list and a refresh indicator that seems to go forever. However, the countdown timer at the top is accurate, so this looks like a display bug.

![Screenshot_20200708-155752](https://user-images.githubusercontent.com/13768946/88483556-85

[2020-07-27 07:14] ildar opened #19 "[FR] world map zoom"
would be great even without care of datalization

[2020-07-28 11:24] rt-bishop commented on #19
Hey, thanks for the feature request! I'm still working on the OpenStreetMaps integration for v1.5 which will obviously include this feature. There are some complications but hopefully I'll finish within a couple of weeks.

[2020-07-28 11:32] rt-bishop commented on #18
Hello @ryandzink! I know of this strange bug, it's quite hard to reproduce though as it just occurs randomly. I think I might've done something wrong with the passes calculation threading. I'll look into it and hopefully fix it by the next release.

[2020-07-29 05:56] ildar commented on #19
That's... shocking )))
What's the purpose for using OSM? I'm sure it'll make apk many times
heavier and there must be a noticeable reason for that.

[2020-07-29 11:32] rt-bishop commented on #19
Well, not really, the osmdroid library is exceptionally lightweight. Just checked the apk size: 2.6MB vs 2.5MB before. And I haven't even removed the legacy map code and resources yet. I will also limit the max zoom level to 6-7 (4-16MB of tiles cache max) cause we're watching satellites, not the map itself. Tiles are being cached automatically but there will be an option to pre-download them for

[2020-08-11 03:28] ryandzink opened #20 "[Feature request] Ability to toggle UTC times"
I hate to be "that guy" and keep suggesting features, but it would be great if we could toggle pass times between local times and  UTC times in the settings!

[2020-08-11 17:23] rt-bishop commented on #20
Yep, no worries. Expect it for the next release, roughly end of this month.

[2020-08-30 09:34] DC7IA opened #22 "clear satellite data"
Great app, finally a decent satellite tracker on Android.

However, there's one thing that bothers me:

I've set the TLE data URL to one that only contains amateur radio satellites, but the list is still huge.

I'd love a way to clear the list and only show the satellites that are included in the current dataset. :)

Something like a button that says "Purge TLE data", so that when I change the URL

[2020-08-30 09:43] DC7IA opened #23 "invalid TLE results in "Check your internet connection""
I've tried using [1], but this results in "Check your internet connection".

I then thought this might be because Look4Sat does not know what to do with the header.

So next I tried [2], which worked.

[1] https://www.amsat.org/tle/current/nasa.all
[2] https://www.amsat.org/tle/current/nasabare.txt

[2020-08-30 14:25] rt-bishop commented on #22
Hey, thanks for the tip. It's a great idea, though I need to clean up some code for that) I'll release it next week.

[2020-08-30 14:31] rt-bishop commented on #23
Yeah, I've just checked, the same behaviour is on my devices. It's the header that stops it from updating. TLE update via text files is super sensitive to the content and AFAIK, Celestrak is switching to JSON-type TLE as they are a lot more flexible. So in the future I'll add a proper handling of both. For now I'll just add the nasabare source on top of celestrak source.

[2020-09-10 10:45] rt-bishop commented on #15
Fixed in 15d414f

[2020-09-10 10:45] #15 closed

[2020-09-10 10:46] rt-bishop commented on #12
Fixed in bfefae8

[2020-09-10 10:46] #12 closed

[2020-09-10 10:47] rt-bishop commented on #18
Fixed in f338a05

[2020-09-10 10:47] #18 closed

[2020-09-10 10:47] rt-bishop commented on #20
Feature added in bc19175

[2020-09-10 10:47] #20 closed

[2020-09-10 10:54] rt-bishop commented on #22
The issue is fixed in recent 0d3c9887e8c20bf29ef7719724b35f20b9a4dcda. The TLE data gets cleared and added properly via the sources provided.

[2020-09-10 10:54] #22 closed

[2020-09-10 10:59] rt-bishop commented on #23
The issue is fixed in recent 0d3c9887e8c20bf29ef7719724b35f20b9a4dcda. The AMSAT TLE source is added by default and overwrites the Celestrak data correctly.

[2020-09-10 10:59] #23 closed

[2020-09-12 20:23] ryandzink opened #24 "Satellites currently overhead show up even in future passes"
I don't know if this is expected behavior but when you look at future satellite passes of a satellite that is currently overhead, you see the current satellite location on both the current and future passes.

As an example, here is an SO-50 satellite pass showing both the current pass and the next one scheduled, and you can see the current satellite location on the next pass as well.

**Active pas

[2020-09-13 03:06] sbridger opened #25 "True north [Feature Request]"
It appears to use magnetic north for the N position, not true north.

This is currently 23deg different where I live..

I would suggest correcting for Declination so the NSEW grid is showing true.
Explicitly show the magnetic north point on the edge. (a red N on the edge of the circle at the declination) so it is clear that it is true.

I would suggest manual entry of declination as the first step

[2020-09-13 08:55] sbridger commented on #10
A distinct LED color/flash would be useful when I am waiting for a pass "soon", but don't want to be fiddling with the phone every minute to see how long is left.

Hamalert can beep in morse, which clearly separates its alerts from those of muggle apps.

[2020-09-14 14:40] rt-bishop commented on #24
Hey Ryan! To be honest, initially it happened unintentionally, but I really liked it as it helped a lot with testing. So I decided to keep it that way. Also it led me to the idea of making a separate PolarView fragment with all the sats currently overhead, which I'm going to implement some time in the future after the complete UI revamp. Do you think it's an issue, shall I keep it open?)

[2020-09-14 14:48] rt-bishop commented on #25
Hey! Thanks for your request. I'll definitely implement this with the next minor update that should be within the next few weeks. There is a way in Android SDK to calculate true north and declination for the station position, so it's not going to be a problem. I'll also switch to using the software (fusion) sensor rather than the hardware one for more accurate readings. Not sure about the manual d

[2020-09-14 20:51] ryandzink commented on #24
I don't think it's a big enough issue to be fixed, I think we can close it. That all satellites overhead view does sound interesting!

[2020-09-14 20:52] #24 closed

[2020-09-15 12:18] tekk opened #26 "FR: Calculation of current frequency based on Doppler shift"
It would be nice to have current frequency calculated with regards to Doppler shift.
Another useful feature would be if you could "send" the Az, El, Frq etc... via CAT (serial) or UDP (via network) to an ESP8266/ESP32 based board. Simple text/binary values would be sufficient.
Thank you for an amazing project!

[2020-09-16 00:06] sbridger commented on #25
Thanks.
I have a red N on the outer circle edge at the magnetic north position. This makes it clear that the grid is true north, and also makes it apparent if the declination is badly mucked up.
A potential issue with android api, may be if it gets declination from a remote server, and so doesn't work when internet connection is not available.

[2020-09-16 00:10] sbridger opened #27 "Countdown-time on satellite/polar view [feature request]"
I suggest having the countdown timer on the satellite polar view until it reaches 0.
Since I am awaiting a particular pass, I would rather just leave it displaying that pass, and see the countdown there.

Watching the countdown on the pass-list screen is a bit of a trap as the timer immediately jumps from 0 to the next satellite pass, making it easy to miss the pass start.

Also nice to know which

[2020-09-16 00:34] sbridger opened #28 "Improve sunlight readabilitysatellite/polar view [feature request]"
I notice that readability is difficult in direct sun. Unfortunately the use case is often laying the phone horizontal which is just the worst for sky reflection.

a) Make the track arc a much thicker line, there is no need for it to be fine
b) make the track line white (best brightness) or a brighter color
c) same for the satellite dot.

For (b) I'm not sure what is best as it is a matter of contr

[2020-09-16 10:13] sbridger commented on #26
I was also thinking it would be nice to see a doppler value.

In the case of the ISS, there is every possible permutation of up and downlinks, so you would need to tell it the up and down, or be able to select one of the modes, or be updating the doppler for every frequency in each/all mode paragraphs.

An alternative (or an easy starting place) would be to show generic doppler shift at one or two

[2020-09-16 10:21] sbridger opened #29 "Sleep timeout after pass [feature request]"
L4S keeps the screen on (good), but I find myself leaving it on (for hours), and flattening the battery. [I have a dedicated android for hams apps etc, so it gets left when done]

- The polar pass view could revert to sleep once the pass has finished or a minute after it has finished
- the list view could have a timeout (e.g 5 mins)

[2020-09-16 10:24] sbridger commented on #16
@rt-bishop I totally agree with your offline point!

[2020-09-17 09:23] rt-bishop commented on #28
Hey! Thanks for the request. All your suggestions sound reasonable but I'll have to postpone them for a bit because I've got a major UI revamp planned for the next few months. So stay tuned!

[2020-09-17 09:32] rt-bishop commented on #27
I'm really glad that you post all these suggestions as I'm trying to make this app as helpful and useful as I can. So please keep on!) The PolarView fragment will definitely have it's own timer with the countdown for AOS and then for LOS. Also a little "bell" will be there to toggle the notification/beep of AOS/LOS. I'll try to find some screen space for the additional info that you requested.

[2020-09-17 09:48] rt-bishop commented on #26
@tekk Thank you for your kind words!
Do you need this CAT or UDP info to control some sort of a rotator or external device or just to display? If to control then it's better to use some sort of protocol like hamlib for ex. If just to display then it's better to use some predefined format of a string. Also UDP is pretty straightforward but requires your device to be connected to LAN and to have an

[2020-09-17 13:16] tekk commented on #26
Guys, thanks for your thoughts and quick responses.

@rt-bishop The idea here is to have transceiver like Yaesu FT-817/991/857 or something like Icom IC-9700 connected via CAT control cable (which is basically an UART serial protocol) and have the ability to tune to exact frequency based on calculations from the Doppler shift. One way to do this is using an USB-CAT cable. Bluetooth CAT adapters ex

[2020-09-17 17:26] tekk commented on #26
I've made some progress.
![doppler shift](http://dnd.tekk.eu/doppler.png)
It doesn't update the values in real-time though.
@rt-bishop Could you please help? I just need to make it refresh every `timeout` ms, like the Polar view.
Please take a look at my last commit in my forked repo here: https://github.com/tekk/Look4Sat/commit/d8ef1c9f400096ad6a3dcade6737ee8e32115f03
The frequency shift calculat

[2020-09-17 22:03] sbridger commented on #27
You can put it slap over the top of the polar , as it is only there until AOS. At AOS it disappears.

A possibility is to put it over/near the AOS end of the track, so it is obvious where the sat will rise. (might be a good idea, or might look a bit messy).

I would suggest that if the polar-pass view is selected then bell should be on by default. i.e. if I have selected pass/polar then I am _actu

[2020-09-18 06:17] tekk commented on #26
Hey guys,
I've made it. At least the Doppler shifted frequency info is shown on the screen and updating every `timeout` ms. I have not checked the calculations but they should be fine.
Here is a [video](https://youtu.be/u6YBRp_7mMo), but it didn't record very well.
@rt-bishop I will made a PR if you don't mind.
This is the first step. Sending of data over a CAT cable (Frq) or to an ESP32 (Frq, Az,

[2020-09-18 11:49] rt-bishop commented on #26
@tekk Great job with the PR! I was about to say that predict4java lib has a doppler shift calculation function in it and I wanted to add it at the weekend but you beat me. Thanks for that!
I'll rebase my dev branch on top of your commits as I'm about to release v1.4.8 with some bugfixes, true north auto calculations based on the station location and OpenStreetMaps integration demo. So expect it to

[2020-09-20 14:57] rt-bishop commented on #19
Feature demo added in recent v1.4.8, more work on it in the future release

[2020-09-20 14:57] #19 closed

[2020-09-21 20:35] jcp-sd opened #31 "Descriptive names of satellites (feature request)"
I noticed that the descriptive names of the satellites changed with one of the recent updates.

After digging into the code a little, it seems to be related to the addition of the Amsat TLE file to the update from the web feature.

For example;

Celestrak has the string: `SAUDISAT 1C (SO-50)` for ID 27607

Amsat has the more terse string: `SO-50` for ID 27607

In the recent release, the later stri

[2020-09-21 20:45] jcp-sd commented on #2
Everyone likely knows the calculation of lat/lon for a given Maidenhead is almost trivial.

Not a biggie as there are many helper tools out there to do this separate from the program.

Attached is a short Perl script I often use for that purpose to demo the algorithm.

Reference to the original can be found on Wikipedia's page on Maidenhead locator.

73, John

[grid_to_latlon.txt](https://github.c

[2020-09-21 21:58] rt-bishop commented on #2
Hey John! I'm working on a complete UI rework at the moment, but I'll make sure to include the Maidenhead locator calculation and display with the next update! Thanks for the reminder, trying to find time for everything)

[2020-09-24 08:37] rt-bishop commented on #31
Thank you very much John for your kind words and for this feature request! However, the naming change was made because I received a number of complains, emails and requests from other users that prefer to use Amsat given names and prefered to overwrite the Celestrak names by default. The same behaviour is in Gpredict program that I often use as a reference. So I think no further changes should be

[2020-09-24 08:37] #31 closed

[2020-10-05 21:55] hayden-t commented on #27
yes please this would be great

[2020-10-05 22:07] hayden-t opened #32 "ISS times are incorrect, out by about 5 minutes!! Location confirmed."
I have verified my location.  And tracked ISS with SSTV transmissions 2 days in a row now. And tracker app is wrong, and ive compared it with other websites to confirm this. Its about 5 minutes too early.

Im located in NSW australia. As an example use coords -31, 152 i put them in app, and then compare with heavens above website, 5 minutes difference. The app is wrong, confirmed by actual radio t

[2020-10-06 10:18] tekk commented on #26
Hey Guys. I've compared results of the Doppler shifted frequencies alongside Ham Radio Deluxe's calculations and they are exactly the same.
Just wanted to let you know that the calculation is correct and you don't have to re-check.
@rt-bishop Any news on Hamlib? Is it doable?

[2020-10-07 08:35] rt-bishop commented on #32
Hey Hayden! My raspberry pi weather station, my radio observations and I - we all disagree with you. Heavens above and other tracking wibsites are not a reference for me, only Space-Track and Celestrak are. So I compared the app predictions with Gpredict ones, as they both use Celestrak data, and everything is correct. If you said 5 seconds difference, then I get it. But 5 minutes.. means you're d

[2020-10-07 09:25] rt-bishop commented on #26
@tekk Hello again! I guesss it's doable, there is an android port of hamlib in their repo. The first thing - I'm getting married in the beginning of November, so my time and thoughts are consumed by that at the moment. The free time that I manage to find I spend on v2.0 - UI updates, architecture change, code cleanup. Second thing - I've never worked with C-code/NDK in android, so it's going to ta

[2020-10-07 11:15] tekk commented on #26
@rt-bishop Ah, so you decided to ruin your life like me 🤣  Nah, just kidding.
OK, so let me know when you'll have some more spare time and maybe I could help with that - I'm a C/C++/C# developer so it shouldn't be a problem. This will be a KILLER feature!

[2020-10-08 22:25] hayden-t commented on #32
I just used heavens above as an example, please tell me how to get data you believe ? as Im not sure how to use those websites. please show somewhere i can put in my coords, and get the passes to compare.

[2020-10-08 22:26] hayden-t commented on #32
please dont just close this ticket without working through it with me

[2020-10-09 12:09] rt-bishop commented on #32
@hayden-t No worries, if your TLE data is up to date and the location you set in both the app and the website are the same, then you will get the same passes.
I think I know what the issue is as I've just checked the heavens above website. It considers the "pass start" the time when the satellite reaches the 10 degrees altitude, whether Look4Sat shows the full pass from the moment it rises above t

[2020-10-14 08:54] hayden-t commented on #32
sorry, so busy, will look into this Look4Sat  website

[2020-10-14 20:42] hayden-t commented on #32
so it seems my tle data was out of date as doing so has moved iss pass later about gap i reported. which is what i was hoping that id just needed to do something different. so may i suggest some change in the app to make this more clear. as id thought pulling down the list of passes screen for a spinny refresh would have done this. what does that do then ??? also when you do go to tle import from

[2020-10-26 19:46] ryandzink commented on #32
For what it's worth, I also had this issue. It took me a few tries of only picking up the satellite when Look4Sat said it was almost at LOS before I compared to other apps and noticed the discrepancy of ~5 minutes and forced an update. I'm not sure if the recent orbit change means the TLE I had gotten a couple of months ago was out of date?

[2020-10-26 20:01] rt-bishop commented on #32
A couple of months? Well, generally it's advised to update TLEs every week or so, the error of SGP4 is about 1km/day. Of course the orbit change means the TLE becomes out of date. I'm not sure I understand what the suggestions is... do you want the updates to be automated? Or shall I put a message somewhere saying "Weekly updates are recommended"?

[2020-10-26 20:30] ckuethe commented on #32
"Update your TLEs Weekly" message would probably be easiest for you.

Auto update after a week, plus allowing immediate refreshes if you add a new source or if you know a source *just* updated the data would be nice

[2020-11-12 00:02] robsonos commented on #10
A feature like this would be handy.

[2020-11-25 18:05] shuyuan-liu opened #35 "[Suggestion] Hide "null" downlink / uplink frequencies"
Hi @rt-bishop I've been using Look4sat for NOAA, meteor, ISS and amateur satellite passes and it works great with a clean UI.

I do have a suggestion that in the polar view, we hide uplink / downlink frequencies that are "null" as they are usually not very helpful (for me at least) and take up space. I recognise that this might be useful if people wanted to confirm that there's no uplink / downlin

[2020-11-26 09:54] rt-bishop commented on #35
Hey there @shuyuan-liu! Thank you very much for your suggestion) Actually at the moment I'm working on Look4Sat v2.0 with huge changes to the UI. In the developer build there are no "null" freqs any more. There are a LOT of changes, if everything goes well I will release it in 4-5 days. So stay in touch and thank you for using the app!

[2020-11-29 18:08] #35 closed

[2020-11-29 18:08] #2 closed

[2020-11-29 18:08] #25 closed

[2020-11-29 18:08] #26 closed

[2020-11-29 18:08] #27 closed

[2020-11-29 18:08] #28 closed

[2020-11-29 18:08] #29 closed

[2020-11-29 18:08] #32 closed

[2020-12-01 12:18] shuyuan-liu opened #36 "Footprint incorrectly rendered when sat at high latitudes"
In the map view, sometimes when a satellite is at a high latitude, its footprint is not shaded correctly. The area where the footprint should be is _not_ shaded, while all other area above the minimum latitude of the footprint _is_ shaded (kind of like "inverted" if you like). See screenshots.

Correct:
![Screenshot_20201201-121339407.jpg](https://user-images.githubusercontent.com/41851763/1007396

[2020-12-01 12:19] shuyuan-liu commented on #36
Sometimes it switches between "correct" and "incorrect" on each refresh.

[2020-12-03 00:18] ryandzink opened #37 "v2.0 tabs seem oddly ordered"
First, I just want to say I am loving the improvements in v2 of the app.

This seems like a minor usability improvement but the order of the tabs in the app seems inconsistent with what I picture most users would use most often. I assume most users look at the pass list most often, or the world map, but those are not the initial screen that comes up when the app is opened. The satellite list is, b

[2020-12-05 21:14] BaumGuard opened #38 "Feature Request: Time span filter"
It would be nice to have the option to filter out passes which don't happen in a certain time span. Look4Sat also shows nightly passes, but during the night I don't receive satellites because I'm asleep then.
In addition to that, it would be nice if Look4Sat showed the pass list after starting the app, like in the versions before 2.0.0.

[2020-12-06 17:34] rfamp opened #39 "Custom TLE Import deletes TLEs downloaded online"
Thanks for this amazing application, it is great for tracking satellites but there is one thing which seems to be strange:

When importing a custom TLE file from my device, the configured satellites and the TLEs download from the internet are lost.
It seems that importing a custom TLE deletes all other TLEs which is unfortunate if you want to have both at the same time.
I think this wasn't an issu

[2020-12-06 21:26] shuyuan-liu commented on #10
For reference, the Heavens-Above app can create calendar events for passes. I think this is a good way of doing it because it means the app doesn't need to run in the background to wait and show the notification.

[2020-12-07 11:19] jmlgo opened #40 "Manually input for GS position is no longer possible"
After the last update (v2.0.1), there is no option to set the location using coordinates, only with QTH.
An Altitude field is not listed either.
It's very useful when your GS is operated in remote.

[2020-12-11 08:02] Symbian9 opened #41 "Add continuous/looped horizontal scroling (like rotating Globe)"

[2020-12-14 10:04] rt-bishop commented on #41
Hey @Symbian9, thanks for the suggestion. This issue is related to #36, I disabled this functionality intentionally as it introduces some unwanted behaviour. But I'll definitely reenable it as soon as I sort both these issues out.

[2020-12-14 10:11] rt-bishop commented on #40
Hey @jmlgo! I'm going to implement the "Multiple Ground Stations" feature and as soon as I'm done I'll bring this option back.

[2020-12-14 10:20] rt-bishop commented on #39
Thank you @rfamp very much indeed for your kind words! It feels great to be appreciated)

Initially it was done to avoid keeping the out of date TLE data. Now the TLEs are stored in the database by their CatNum and are overwritten on update. So you're right, there is no reason to clear the list on every update. I'll fix it with the next update.

[2020-12-14 10:25] rt-bishop commented on #38
Hey @BaumGuard! I'll definitely switch back to showing the pass list on start, but the time span filter seems like a very narrow use case. I'll leave this issue open just to get more feedback and to see if anyone else needs it.

[2020-12-14 10:30] rt-bishop commented on #37
Hey @ryandzink! Thanks for the feedback and for another suggestion! It helps a lot with the development.

Exactly, it was a way to remind the user to update the TLE and to encourage to try different satellites. I received quite a few emails asking to change the order of the tabs and I'll definitely do this with the next update. There is a bit of app logic behind it, so I would need a bit of time t

[2020-12-14 10:37] rt-bishop commented on #36
Hey @shuyuan-liu! Thank you very much for creating this issue. This is a long time known bug (for me)) that I'm having difficulties to fix. I'm trying to fugure out an algorithm of splitting and recreating the array of sat footprint points based on the latitude. I'll try to look into GPredict's code to see if I can find any solutions there. Hopefully with the next update I'll fix this issue and #4

[2020-12-14 11:19] BaumGuard commented on #38
Ok, it was just a suggestion and to me it's a nice-to-have and not a must-have. So I'll not be disappointed, if it isn't added to the app. Look4Sat is a very nice satellite tracking app and what I especially like about it is, that it shows the passes chronologically and not ordered by satellites! So thank you for developing this app!

[2020-12-14 12:12] jmlgo commented on #40
Nice!
Thank you for the great work.

[2020-12-16 23:16] shuyuan-liu opened #42 "Map view wraps around vertically when zoomed out"
If I zoom out in the map view, copies of the world map are displayed below and above the normal one, like they are tiling to fill the empty space above the North pole and below the South pole. This might be intended in Openstreetmap but it does look counterintuitive (for me at least).

![Screenshot_20201216-230825~2.png](https://user-images.githubusercontent.com/41851763/102417923-9b990900-3ff4-11

[2020-12-16 23:19] shuyuan-liu opened #43 "Feature: Start on passes screen"
Currently when opening Look4sat, the first screen that shows is the Satellites screen where we select which satellites to track. I think it would be useful if the default screen was the Passes screen, because I believe after initial setup, we would use the app mainly to check passes, not select new satellites every time.

[2020-12-16 23:21] shuyuan-liu commented on #43
Story, realised this is duplicate of #37.

[2020-12-16 23:21] #43 closed

[2020-12-17 15:39] rt-bishop commented on #42
Out of interest, what's the resolution of your screen? There are settings in the OSM lib to enable the vertical/horizontal infinite map scroll. Both these are disabled in Look4Sat. Curious... it also shouldn't let you zoom out more than the minimal zoom level. I'll do more testing with different screen sizes and I'll fix it in the next release. Thanks for reporting it!

[2020-12-18 08:46] shuyuan-liu commented on #42
Hi there. My resolution is 1080×2340, 422 DPI. My device is a Xiaomi 9 SE on AOSP Android 11, if that's relevant.

[2021-01-01 16:29] DC7IA opened #44 "Valid Locators Are Not Accepted"
Hi,

some locators aren't accepted by Look4Sat. It says they are "invalid".

Version: 2.0.1
Locator: JO51BJ

[2021-01-01 16:39] DC7IA commented on #44
Weirdly enough, it worked a few minutes later for me.

@Konradrunfdunk is the original observer of this bug

[2021-01-01 16:40] DC7IA commented on #44
Alright, I narrowed it down to being upper-case. While `JO51BJ` does not work, `JO51bj` does.

[2021-01-01 16:40] DC7IA commented on #44
Look4Sat should tell users how to type the locator or ignore case, imho.

[2021-01-01 17:35] Konradrundfunk commented on #44
It seams to me that the funktion setPositionFromQth in the class Prefsfragment is stricktly set to thoose values.

[2021-01-04 15:18] rt-bishop commented on #44
Hey everyone and thanks for reporting this! To be honest I didn't expect the letter case to be such an issue for so many users. I'll definitely fix it with the next update, so the case will be converted internally, accepting those wrongly "invalid" locators. Will also create some unit tests to cover this issue.

[2021-01-07 19:16] ea5wa opened #45 "Feature request: Edit satellites frequencies"
It will be nice to have the possibility to edit the uplink/downlink frequencies and also the possibility to enable or not displaying those frequencies.
Sometimes we are only interested in one frequency

[2021-01-12 11:01] rt-bishop commented on #45
Hey there! Thanks, @ea5wa, for your support and this suggestion! However, to me this looks like a very narrow use case. I can understand when a radio amateur wants to add the freqs missing in the SatNOGs DB, but hiding/showing... I'll leave this issue open for now just to see what other people say and how many actually need it.

[2021-01-12 18:47] ea5wa commented on #45
Some people are not interested on telemetry or cw beacon. They only want to know the transponder frequencies....

[2021-01-28 19:07] shuyuan-liu opened #46 "Pressing ▶ before satellite list loads clears satellite selection"
Steps to reproduce:
- Go to a tab other than Satellites.
- Switch back to Satellites.
- Before the spinning animation disappears, i.e. before the satellite list is displayed, press the ▶ button at the bottom of the page.

Results:
- All previously selected satellites are deselected.
- No boxes are ticked in the Satellites tab, the Passes tab says "No upcoming passes", and the World Map tab doesn't

[2021-02-01 10:20] rt-bishop commented on #46
Well spotted! Thank you very much indeed for the issue and for the steps to reproduce, really helpful.
I'll make sure it's fixed with the next release.

[2021-02-22 17:43] judhi commented on #39
Hello, this app has helped me a lot in tracking satellites. Really appreciate your hard work.
Recently more satellites were launched and more to come shortly.  Unfortunately Celestrak has wrong TLE, so we need to use manual update. If you would show us the best way to do that in this amazing app, many us in tinygs.com community would be very happy. 😊

[2021-02-28 13:50] #46 closed

[2021-02-28 13:50] #45 closed

[2021-02-28 13:50] #44 closed

[2021-02-28 13:50] #42 closed

[2021-02-28 13:51] #41 closed

[2021-02-28 14:06] rt-bishop commented on #39
Hey @judhi! So with this recent release I've fixed the sat list clearing on each update. Now you can update the data from Celestrak, Amsat etc and then from any .txt or .tle file in your device memory and all the data will be combined. If there are two or more TLE with the same CatNum, the last one imported gets saved.

[2021-02-28 14:06] #39 closed

[2021-02-28 14:06] #38 closed

[2021-03-09 11:57] rt-bishop commented on #37
Fixed in recent 4705ff69158f31c93d4ab198bcd1449c9d95e63f commit

[2021-03-09 11:57] #37 closed

[2021-03-09 13:40] ryandzink commented on #37
Thanks @rt-bishop !

[2021-03-19 17:24] maholli opened #47 "Report Az for respective MaxEl"
It'd be very helpful to have access to the azimuth associated with the MaxEl reported for each pass. Another option would be to display the tabulated AZ EL data used to create the polar plot (like gpredict).

[2021-04-05 17:18] ryandzink commented on #17
Hi @rt-bishop it looks like this actually got implemented in this latest release, or at least the ability to filter the satellite selection page makes it much easier to do this. I'd be happy to close this out.

[2021-04-05 18:42] rt-bishop commented on #17
Hey, @ryandzink! Yeah, finally found some time to implement this. Refactored quite a lot, let me know if anything breaks. Also, just published v2.3.2, fixed doppler shift update that got broken. Will be available after Google Play approves the release.

[2021-04-05 18:42] #17 closed

[2021-04-09 08:51] ok1cdj opened #48 "Antenna tracking from app"
Hello, thank you very much for great app. It will be very intersting to have antenna tracking functionality from the app.
The easy and most compatible way is control `rotctld` over the network. This is very easy to do. From linux commnad line
`echo "\set_pos 135.0 30.0" | nc -w 1 IP 4533`
Is it possible to implement this feature to the app ??

Thank you.

[2021-04-10 12:17] rt-bishop commented on #48
Hey there! Thank you for your kind words and for this suggestion) Of course it's possible. It is even half-done already. I've written most of the code, just need to integrate this part properly. Hopefully I'll release it within two weeks.

[2021-04-15 05:24] SeriousM opened #50 "No GPS reading"
When I start the app with location service enabled and try to set the location via GPS, the app toast-notifies me that location services are disabled.
How can I fix that?

[2021-04-15 08:53] rt-bishop commented on #50
Look4Sat gets the location passively to avoid unnecessary battery use, it doen't activate sensors to compute the location, it only receives the cached one. When you press the Set position from GPS, the app gets the last known location requested by any other source, apps like Google Maps or the system itself. If the toast says the location is off even when it's on, it means that you've just switche

[2021-04-15 12:27] SeriousM commented on #50
That worked flawlessly! I usually have gps turned off because of battery live and privacy reasons.
Maybe you could update the toast message or add some help for other users that encounter the same issues?

[2021-04-15 12:35] rt-bishop commented on #50
I can understand, I used to do exactly the same. But since I properly set all the permissions for the apps, removed all the bloat apps, switched off the location history and all the other tracking features of a google account, I became kind of reckless and lazy.
For sure I'll think of a way to distinguish between the switched off location and the lack of cached data. Thanks for bringing this up!

[2021-04-17 19:10] #50 closed

[2021-04-18 19:08] rt-bishop commented on #48
Feature added in recent e5e5fe7ee771e7affb3f09e54ee13d19f1d65b02

[2021-04-18 19:08] #48 closed

[2021-04-18 19:09] rt-bishop commented on #47
Fixed in recent 5f7c3e3786f885371a4b23245acff5439dbfe9ef

[2021-04-18 19:09] #47 closed

[2021-05-01 16:16] ryandzink opened #51 "Satllite dot on radar view becomes two dots as pass goes on"
This behavior seems to have appeared in the past one or two updates.

What starts out as a single satellite dot on the radar view slowly splits apart as the pass goes on to show two dots at different points on the arc, with one traveling slightly slower than the other, and one of the two dots appearing "above" the red arc while the other is "below" the arc.

If I back out to the list of passes and

[2021-05-04 22:47] ryandzink commented on #51
I wanted to update this to say this is an issue with the entire radar view. I usually don't have rotation turned on but when I did I got the following result. This issue seems to be triggered more often when turning off the screen when on the radar view and then turning it back on.
![Screenshot_20210504-073959](https://user-images.githubusercontent.com/13768946/117079077-ed1a0a00-acef-11eb-9f84-d8

[2021-05-05 12:45] MondoBurrito opened #52 "Feature request: Directional arrow showing the direction of movement of the sat on radar"
This would be a REALLY nice feature to implement... and likely not too hard.  Apps such as Heavens Above show the direction of movement of a satellite on their radar screen. It is simply a little arrow on the projected satellite path.  Can you please implement the same feature on Look4Sat. It saves us having to go to the map and trying to figure out what direction the sat is coming in. We can simp

[2021-05-09 02:12] MondoBurrito commented on #51
Yes, I get this problem as well. I hope there is a fix soon.

[2021-05-11 10:07] rt-bishop commented on #52
Hey, thanks for the RF. I'll definitely add it with the next update in a week or two as this feature seems to be in quite a demand.

[2021-05-11 10:09] rt-bishop commented on #51
Hey guys. Thanks for reporting this. I've already fixed it in the dev build. Hopefully I'll ship it in a week or two maximum.

[2021-05-17 11:03] techfixpros opened #53 "Update 2.5.0 Broke TLE updates"
Updated to 2.5.0 via playstore and now tle list is empty, even after re-entering nasabare source. No dialog is shown when attempting to update and cannot confirm what is taking place. Clearing cache and data did not resolve.

[2021-05-17 11:09] techfixpros opened #54 "Update 2.5.0 Broke "Set position from...""
Using either option, QTH or GPS causes the app to crash. Cleared data and cache, allowed GPS permissions, and issue still persists.

[2021-05-18 06:24] pedjas commented on #54
I am confirming this. It crashes in the same way even on setting location using locator.

[2021-05-18 06:27] pedjas commented on #52
Similar arrow would be helpful in map map mode too.

[2021-05-18 06:44] pedjas opened #55 "Frequency info feature suggestions"
I am novice user of this app so forgive me if i did not understand all the options yet. Here are my observations:

Frequencies list for satellites seems to be available only on satellite details screen which is accessible only from Passes screen.

From user point of view, it would be useful to access satellite and especially frequencies info regardless Passes. Thing is Passes list shows each pass

[2021-05-18 07:07] pedjas opened #56 "Suggestion for increasing screen readability"
Here is how Map view looks at my phone. Text is to large and some data is overlapping. Map copyright info is far to large.

![screenshot2](https://user-images.githubusercontent.com/2223601/118606279-813ba500-b7b7-11eb-8943-2ea1526e33ca.jpg)

It would help to have option to set font size for text.

Also, shorter generally recognized captions for field names may be used, like Alt instead Altitude, L

[2021-05-18 11:12] techfixpros commented on #54
Issue is resolved in 2.5.1. Thank you.

[2021-05-18 11:12] #54 closed

[2021-05-18 11:12] techfixpros commented on #53
Issue is resolved in 2.5.1. Thank you.

[2021-05-18 11:12] #53 closed

[2021-05-18 12:03] shuyuan-liu opened #57 "Don't show aiming icon when "Use sensors to rotate PolarView" is disabled"
First of all, thanks for adding the aiming feature - very useful for hand tracking satellites. However I think the icon should only be shown when "Use sensors to rotate PolarView" is enabled, because otherwise it is fixed at 0° due north and serves no purpose.

In the screenshot below I have disabled rotating PolarView, causing the aim icon to be fixed at the top of the PolarView:

![image](https:

[2021-05-18 12:06] shuyuan-liu opened #58 "Rename PolarView to Polar View / Polar view"
This is a very minor cosmetic issue but I just thought adding a space to the name makes it a bit more grammatical. To me `PolarView` looks like an Android class name haha!

[2021-05-18 14:08] ryandzink commented on #51
I see this is fixed in the latest release, thanks!

[2021-05-18 14:08] #51 closed

[2021-05-18 14:18] MondoBurrito commented on #51
AWESOME! Thanks so much.

[2021-05-18 14:19] MondoBurrito commented on #52
I see the arrows now! This is such a great feature to implement. Well done. You have one of the best sat tracking apps out there now.

[2021-05-18 14:22] ryandzink opened #59 "Selecting a satellite in the Satellites tab causes the list of satellites to scroll back to the top"
This is admittedly a minor issue since I'm not changing the satellites I'm looking for on a regular basis, but something I thought I would mention. I think this started happening with the 2.5 update.

When I'm selecting a new satellite in the Satellites tab, as soon as I check the box the list of satellites scrolls back to the top. It does this even when the list of satellites is filtered with som

[2021-05-19 12:29] rt-bishop commented on #52
@pedjas I can add such an arrow, but please could you clarify what's the use case of such an arrow? When you just select a satellite on the map it clearly shows the direction, there is a track for the three future orbits and no track behind it.
@MondoBurrito you're welcome! Thank you very much indeed for your kind words. Trying to make it as useful as possible.

[2021-05-19 12:33] rt-bishop commented on #58
@shuyuan-liu do you mean to simply start referring to this screen as a Polar View? Where to rename it exactly? I keep renaming the classes quite a lot, cause the app evolves with every iteration. Hopefully one day I'll make up my mind on all the classes names.

[2021-05-19 12:37] rt-bishop commented on #59
@ryandzink I've just removed the scrolling in the recent update. Let me know if it made it worse/better. Sometimes I'm too concentrated on the code internals and keep missing the user experience.

[2021-05-19 12:55] shuyuan-liu commented on #58
@rt-bishop Sorry I forgot to mention where! In the settings page there's an option "Use sensors to rotate PolarView" - I was suggesting adding a space between "Polar" and "View". I don't mind how the classes are named in the code at all! :)

[2021-05-19 13:12] rt-bishop commented on #55
@pedjas thank you for reporting these issues. The app font scales with the phone screen, but looking at both screenshots from the issues I can clearly see that you've increased the font size globally in Android settings. I think it even says there that changing the default values will affect and may cause problems with the way other applications look.

The map view is mainly used just for the gene

[2021-05-19 13:16] rt-bishop commented on #57
@shuyuan-liu makes perfect sense, thanks for reporting this. I've done like you requested as well as fixed the bugs with the recent 2.5.2 update. I'm glad people find the aiming feature useful. It was a lot easier to implement than I expected, wish I did it earlier.

[2021-05-19 13:19] rt-bishop commented on #58
@shuyuan-liu Ah, yes! No worries) I completely forgot about that little trigger. Of course, makes sense, I'll fix it in the future updates. I need to finally go through all the strings and messages in the app.

[2021-05-19 13:31] shuyuan-liu commented on #57
Thanks @rt-bishop, yes the aiming is quite handy. My phone's accelerometer is off by quite a few degrees though, will need to look for a way to calibrate it.

Reported problem solved, closing the issue

[2021-05-19 13:31] #57 closed

[2021-05-19 13:37] shuyuan-liu commented on #58
Thanks @rt-bishop! On that note, I think it would be a good idea to let people provide translations for the app on something like [Crowdin](https://crowdin.com/) or [POEditor](https://poeditor.com/). I'll open another issue for that.

[2021-05-19 13:39] MondoBurrito commented on #52
I think in this case, an arrow is NOT necessary since it is obvious from first glance which direction the satellite is moving. You simply find the sat on the map, and and the patch is clearly marked. (The app does not show any path where the satellite previously was.)

[2021-05-19 14:11] shuyuan-liu opened #60 "Translate the app on Crowdin, POEdit or similar"
As mentioned in #58, I think it would be great if people could help translate the app into their own languages and allow the app to reach a wider range of users.

[2021-05-19 15:15] pedjas commented on #56
Here is the same font issue in Passes page

![snapshot03](https://user-images.githubusercontent.com/2223601/118838241-d06ffb80-b8c5-11eb-9b25-3a59fc0d330e.png)

[2021-05-19 15:23] pedjas commented on #55
Yes I did. And this is the only application where I have issues. That is why I suggested some graphical optimizations like using abbreviations to consume less space and minimise issues.

Actually, it is useful to access satellite info even if it is not close to you, so you can get info that is needed to set up radio.

That is why configuration options are helpful. One may set application behavior

[2021-05-19 15:28] pedjas commented on #52
That is correct for selected satellite, but map may show several satellites. For those that are not selected user has no clue what direction they are flying until he selects them.

[2021-05-19 15:31] MondoBurrito commented on #52
Gotcha. Good point.

[2021-05-19 18:58] rt-bishop commented on #56
I'm still pretty sure the reason for the issue is a global increased font setting. Would you please post here you hardware specs or phone model so I can set up a VM with exact same specs to see for myself.

[2021-05-19 19:07] rt-bishop commented on #52
@pedjas it's not a problem to show the direction arrows, I just simply do not understand how can this information be used? When I look on the map the direction of the sat does not help me in any way. Or maybe I'm missing something, what's the use case for that?

[2021-05-23 07:52] pedjas commented on #56
My phone is Xiaomi Redmi Note 4 but I guess you can get the same effect on any model, by just using increased font.

[2021-05-23 07:54] pedjas commented on #52
When I look at the map I am interested to see which satellites are incoming so I can prepare for them. Actually, I cannot tell other purpose of the map.

[2021-05-23 22:51] Symbian9 opened #61 "Backup TLE data files"
Add option to save (backup) actually downloaded TLE data files into custom folder.

FTR, What is default path of downloaded TLE data files on device?

[2021-05-24 20:36] ropufu opened #62 "Feature request: Earth's shadow"
It would be really awesome if you could incorporate satellite's visibility into the program. Although it might not be all that useful for a lot of the satellites, for ISS, for example, that would be a game-changer. Knowing when it goes in or out of the Earth's shadow would make the app so much more interesting for a small (but I hope non-negligible) portion of users. Thank you thank you :^)

[2021-05-29 15:16] #59 closed

[2021-05-29 18:32] #55 closed

[2021-05-29 18:32] #56 closed

[2021-05-29 18:33] #52 closed

[2021-05-29 18:41] rt-bishop commented on #61
Hey @Symbian9! Thanks for the request, but would you clarify why you need to back up something that will go completely out of date in a week? TLEs are meant to be updated pretty often to get the correct predictions, otherwise the error quickly adds up.
Also, satellite data is not stored in a file, it's getting saved to the internal app database on each TLE update.

[2021-05-29 20:01] Symbian9 commented on #61
And that is the thing: what about replay old passes using backuped TLE? (*I use Look4Sat for predict spotting of SpaceX Starlink's "trains" passes*).

So, when I saw some sat on the night sky, BUT next day TLE data is outdated or curiosly updated in app, there should be a backup of TLE which could be used for replay.

As I understand, raw TLE text file data converted into database during updating

[2021-05-30 08:30] rt-bishop commented on #61
I'm afraid this is not how TLE works, you can't replay the path simply loading back the file from yesterday. There is no such thing as replay in TLE context. This file simply contains the trajectory data which is then calculated and projected using a complicated algorithm. So there is absolutely no use of extracting and backing up the TLE files. But what I can do is exposing the TIME handle agains

[2021-05-30 08:47] Symbian9 commented on #61
If there is *"Load TLE file from external"* storage (microSD/memory card), so its possible to use some older downloaded TLE data.

So, just download files in some specified (default) folder during TLE updates for backup in raw format (as text files with timestamps in those text file names).

That is a must have feature.

[2021-06-23 16:44] #58 closed

[2021-07-12 01:09] tekk opened #63 "Feature request: Sending of Az/El over Bluetooth serial"
Would it be possible to add support for sending Az/El in preferably in cleartext over Bluetooth serial connection?
We are building a custom rotator and this would be very handy for other projects too.

[2021-08-20 09:36] yuhuitech opened #64 "Blocked and overlapped texts on the "passes" page"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the second tab page, **texts of the clock are blocked by its border slightly and some texts of items below overlapped with each other**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)

[2021-08-23 11:26] #64 closed

[2021-09-18 07:39] dg9bja opened #66 "No new passes since update"
Last night I updated to 2.5.4 and now I am missing new passes for my NOAA weather satellites.
Was there a code change for this?

Anything it is a great app and I use it almost every day. Thank you!

Update:
Seems like the hours ahead settling seems to be ignored. Maybe it uses only default settings.

[2021-09-18 15:01] ryandzink opened #67 "v2.5.4 update seems to have broken pass progess indicator"
I just updated to the latest version and the yellow progress bar of a current satellite pass in the Passes view does not seem to be showing anymore. I tried force closing the app and restarting, and didn't see any change. I'm attaching a screenshot of an instance where this is happening (CAS-4A).

![Screenshot_20210918-064029](https://user-images.githubusercontent.com/13768946/133893204-f86252bd-2

[2021-09-18 15:38] rt-bishop commented on #67
Yep! Thanks for reporting. Already working on that. After the recent Android 12 Api release and Java 11 becoming the new base quite a few things seem to be broken. I decide to fix the update crash issue first and now working on getting the rest of the stuff back to work. Won't be long.

[2021-09-18 15:43] rt-bishop commented on #66
Hey, thanks for reporting this, I'm already working on it. I decided to clean up, rename and move quite a few classes while cleaning up the codebase to get everything ready for the future features, and accidentally broke some things. Please, be patient, I should fix everything quite soon. At least it doesn't crash anymore while updating =)

[2021-09-19 12:46] #67 closed

[2021-09-19 12:47] #66 closed

[2021-09-19 16:19] ryandzink opened #68 "Feature request: ability to toggle from pass view to map view for active satellite"
I think it would be very useful to be able to switch from the radar view of a current pass to the world map view showing the current footprint of the satellite. Right now going to the map view to view the current pass requires scrolling through the list of satellites to find the satellite overhead, and I can't tell what order they are in when cycling through them in the map view with the left to r

[2021-09-20 08:40] rt-bishop commented on #68
Of course, this feature was actually planned for quite a while now. It's taking me quite a lot of time to clean up the codebase, properly decouple and refactor everything. I'm trying to get the app ready for new features, that's why it's delaying stuff.
It will be done in a way you suggested with a button on the radar view that takes directly to the map.

Also, at some stage I'll add horizontal la

[2021-09-20 12:59] rt-bishop commented on #63
Hey @tekk! Finally found some time to work on the app, do you still need this feature? I've looked through the code yesterday and a couple of questions arised. Shall I simply send the cleartext data to a socket of a generic serial board with SPP UUID just like it says here [BluetoothDevice](https://developer.android.com/reference/kotlin/android/bluetooth/BluetoothDevice#createinsecurerfcommsockett

[2021-09-21 05:45] tekk commented on #63
Hey @rt-bishop, hard to tell.
Basically what we would need is to first list all of the available Bluetooth devices that are paired and connected.
Then we have to select the correct one from the list.
Afterwards, it should be just sending of cleartext to the socket, AFAIK.
But I'm not sure, as I'm not very familiar with Android Bluetooth internals.
If this would work, it would be AWESOME!

[2021-09-24 23:06] bastla opened #69 "Antenna rotator control: Transmit rate and default port"
First of all thanks a lot for this superb app! I was curious about the rotator control feature because it's not documented and I just checked what's going on by opening a TCP sink. Nice to see rotctl's `\set_pos` command there. But it seems to be transmitted only once at the moment of selecting the specific pass. To actually use this feature for tracking there should be an "update/refresh rate" op

[2021-10-04 08:05] rt-bishop commented on #69
Hey @bastla! Thanks for reporting this issue. I've been looking into it yesterday and managed to find a memory leak which was preventing the continuous updates. By default the refresh rate is 1 second, the same as for the radar view itself. I'll fix the issue with the next update and probably also add the refresh rate setting. The default port will be 4533, it's definitely a good idea) Thanks for

[2021-10-30 03:38] ryandzink commented on #68
Thanks @rt-bishop ! Very useful feature added and a nice surprise on the latest app update!

[2021-10-30 08:39] rt-bishop commented on #68
@ryandzink ! You're very welcome... I'm planning a slight change of the UI in the next update. Hopefully it'll simplify the app workflow for some users and make it more straightforward.

[2021-11-01 15:36] EeeLo opened #75 "Can add function output satellite angle by wifi? and how to change the world map API to another?"

[2021-11-04 10:13] rt-bishop commented on #75
Hey @EeeLo! Thanks for using the app..)

You can already send this data via wifi or any other LAN, just go to settings -> enable rotator control -> set rotator IP -> set rotator port, and then when you observe a pass satellite's azimuth and elevation are going to be transmitted in rigctl format. Basically you can control any rigctl compatible rotator or software.

Regarding the map API... I want t

[2021-11-06 01:44] EeeLo commented on #75
thanks so much ,I using it and it can send angles to server, very good software,thanks very much

[2021-11-06 09:38] rt-bishop commented on #75
You're welcome @EeeLo! I'm very glad you like the app..)

[2021-11-06 09:38] #75 closed

[2021-11-18 17:42] DC7IA opened #76 "Clarify that a button deletes all satellites from the user's selection"
Accidentally deleted my selection of satellites because it is not clear that this button does this:

![image](https://user-images.githubusercontent.com/26351852/142468108-79c111f6-aaf9-4b94-a553-2c7e3a843462.png)

Please ask for user confirmation.

I thought it was a button that allows filtering for all selected satellites (which I think would be more useful).

[2021-12-18 06:37] dg9bja opened #77 "Wrong passes with Id 40069 with 2.5.9"
Hi,
I am using that great tool to check NOAA Apt (15,18,19) passes and also Meteor M2 (Id 40069).
Since one of last updates my M2 passes are all wrong. I double check it with other tool's. At the moment I don't know what to do.

Another issue I get after every update: there are always other satellites in my list like QO100 or FO29 and some other. Are this some defaults that come with every update?

[2021-12-18 15:18] rt-bishop commented on #77
Hey, @dg9bja! Thanks for reporting this issue. I'd recommend to do a clean app install. I also noticed this behaviour, tried to look into the code but couldn't find anything that would lead to this. I rolled back to 2.5.7 and obviously the error was gone. But after I reinstalled 2.5.9 from Google Play the data reported was correct. There may be some sort of data collision but I can't reproduce it

[2021-12-19 16:03] dg9bja commented on #77
Thanks, I reinstalled it and all was fine.

[2021-12-30 22:52] egislev opened #78 "Feature request: own short comment to each tracked satellite"
How about possibility to add short user-definable 1-2 lines comment for each tracked satellite for PL tone freq., last worked station, active transponder etc ... ?

[2022-01-02 11:33] rt-bishop commented on #78
Hey, @egislev! I guess I can implement this. Though it's not going to be a priority =) Tell me more, which way you would like it to be done? Custom message for the satellite or the satellite's transmitter? To be seen on the passes tab or on the radar tab?

[2022-01-02 18:28] ryandzink opened #79 "Ability to remove TLE entries imported from a file"
I recently used the file import method for the first time to add a satellite (XW-3) before it became available in the Celestrak feed. Now that it is available there I don't see a way to remove the manually imported satellite. It's not a big deal since I have already removed the manually imported TLE from my satellite list, I'm just curious if that delete functionality exists and I am just missing

[2022-01-03 13:26] rt-bishop commented on #79
Hey @ryandzink, thanks for the question! There is no such function, the app simply replaces the last imported data over the old one using the satellite CatNum as a unique key. TBH I don't see a reason to implement a single satellite deletion from db, some users will delete several satellites and then will see them again after the TLE update. Although I can simply add a button to clear the DB if it

[2022-01-04 05:50] ryandzink commented on #79
Hey Arty, thanks for the response!

To be honest I just resolved this by clearing the app data in the Android settings and then reconfigured the satellites I wanted to track manually. I have to imagine most users aren't heavy users of the imported TLE file function (but maybe I'm wrong?) so I'm not sure it would be worth adding any functionality to do this inside the app...

[2022-01-08 13:05] Gregor077 opened #80 "Predictions/Position's for Russian Weather Sats are very incorrect"
About two Days ago I updated the TLE's over the Update Button in the App. Since then the position from all the Russian Sats are incorrect, Elektro L2 hasn't moved yet and The LEO Sats passes are wrong..
Probably some Faulty Tle's.

[2022-01-08 16:24] rt-bishop commented on #80
@Gregor077 Hey! Thanks for reporting this. It happens because of a recently found bug in CSV data parser class. It's quite simple to temporarily fix it until I release a new version. Go to data update, scroll to the end of "celestrak" source url and swap csv for tle after the = sign. I've fixed the bug in my developer branch already, so if more users report problems I'll release a quick fix.

[2022-01-09 17:48] #77 closed

[2022-01-09 17:48] #80 closed

[2022-01-16 23:11] Sperhak323 opened #81 "sorry i get advice"
Nothing

[2022-01-16 23:54] #81 closed

[2022-01-22 18:56] YamalQRA opened #82 "Dash pointer ip"
Hello.  where can i read about dish positioner ip protocol

[2022-01-30 14:55] rt-bishop commented on #82
Hello @YamalQRA! Sorry for the late reply. The antenna positioner ip protocol uses the message pattern declared in rigctl (part of hamlib) library. [See rigctl Commands](https://www.mankier.com/1/rigctl#Commands-rigctl_Commands). I'm planning on extending the functionality in the future, supplying the transceiver's mode type and frequency. Also, I had a request on supporting [Easycomm](https://www

[2022-02-02 14:28] #82 closed

[2022-02-13 12:25] egislev commented on #78
Hi !
I think to insert one additional line at end off each sat info at main sat list window. Then long press on these lines enters into this line edit mode. Then entered in sat tracking window this line will be fine to see under compass/sat name. Also this feature can be set on/off at setting menu.

[2022-02-24 20:11] xandro0777 opened #83 "Layout messed up when large system fonts selected"
Hi, I selected large fonts in system settings and some texts are overlapping, in particular in the "Passes" and "World" tabs.

The texts in this particular app are big enough so ignoring the system font size setting might be an easy option to fix that.

[2022-03-02 15:20] #76 closed

[2022-03-02 15:21] #79 closed

[2022-03-02 15:21] #83 closed

[2022-03-06 07:51] ctand commented on #62
This is a bigger issue than just visibility. Showing the eclipse of a satellite will help to prevent misuse by amateur radio hobbyists of satellites that should not be keyed up during eclipse due to battery status. If not a filter then at least denoting passes in eclipse and maybe a note not to operate during eclipse would be great. Both AO-91 and AO-92 come to mind. Gpredict has this feature. Tha

[2022-03-08 21:58] ajohns1288 commented on #63
I would use this feature too. I think the best way would be for the user to provide a format string and then that would be output over the socket. Alternatively there could be a plugin for each format and the user can select them. It looks like the DataReporter.kt might already have some of this functionality available.

[2022-03-11 06:43] qwerty287 opened #84 "Loading indicator while loading satellites"
Hello and thanks for this nice app!

I think it would be nice to have a loading indicator while the satellites are loaded in the overview list or on the map. This is especially important if having many satellites - as example, select all of them and continue to the overview. Then you'll see a "No upcoming satellites" message which disappears after loading. There is also a display issue if clicking

[2022-03-11 14:49] rt-bishop commented on #84
Hey @qwerty287, thank you very much indeed for reporting this issue! I'm really glad you like the app.

I've just added the passes indicator to the dev build and fixed that nasty bug you reported, and some others. The latest version is being currently built and pushed to Google Play for their review. So I guess in about 3-4 hours it should be available for download.

[2022-03-11 15:44] WA4OSH opened #85 "Add Additional Mode LoRa Satellites and Frequencies"
- FEES                                        437.2 MHz
- FEES2                                      436 MHz
- FOSSASAT 2E1 through 2E6   401.7 MHz
- SATLLA 2A and 2B                  437.25 MHz and 2401 MHz
- MOCUBESAT-1                       436.9 MHz
- THINGSAT                               868.1 MHz and 2422 MHz
- GOSSAMER                             917.5 MHz
- BL-LORA-5

[2022-03-12 08:30] #84 closed

[2022-03-12 08:31] #62 closed

[2022-03-13 23:39] ctand opened #86 "Feature request: Space-Track.org Auth"
It would be great to be able to update TLE using object lists made in Space-Track.org. They have developer info on how they'd best like their databases queried and methods of authentication. I don't think this would violate any of their terms.

[2022-03-16 09:22] rt-bishop commented on #86
Hey @ctand, thanks for the suggestion. Could you please clarify your request? As far as I know Celestrak provides the same data as does Space-Track. The only difference is that the data gets updated on ST more frequently. Having login on the website is another show-stopper for me, I prefer to not have any login/profile features within this app and to not store any personal data.

If you siply want

[2022-03-16 09:30] rt-bishop commented on #85
Hey @WA4OSH, thanks for your request!
Normally users should not insert their own data into the app, they need to interact with the data providers such as Celestrak for satellites and SatNOGS for transmitters. Are you associated with TinyGS? I guess this is something they can easily do, it's quite simple to add the data to SatNOGS, they have an amazing community and are fyllu open-source.
As an alt

[2022-03-23 06:12] ctand commented on #86
@rt-bishop Hey, sorry it took me a bit to respond. CelesTrak does not provide the same level of data or organization but it does look like what I want is available from CelesTrak in a roundabout way. Following through on my request would require local credential storage and I understand the hesitancy.

One can make custom groups of tracked objects in Space-Track that can be called via their API bu

[2022-03-23 11:35] ArijitKHaldar opened #88 "[FEATURE REQ]: UI customizations"
Tried your app out for about a week. The progress looks promising..since the last time I tried..but there are still a few things for which I am going back to other apps...which I'd like to point out.

- Colourscheme:
        Since your app is basically a duo-tone colourscheme, it would have been good to have a colour picker which let user choose the foreground and background colour. Though the yel

[2022-03-23 18:21] ckuethe commented on #86
I, too, would like to see spacetrack query support. Perhaps I misunderstand the problem, but [AccountManager](https://developer.android.com/reference/android/accounts/AccountManager) seems like it could be useful storing ST creds.

Since ST uses a REST API, and they have a query builder tool on their website to make it easy to query only what you need, you wouldn't need to store other profile info

[2022-04-02 00:31] ryandzink opened #89 "[feature request] Preview of future passes on map view"
What might be a cool feature would be some kind of preview on the map view of where a future satellite pass footprint will cover, with some kind of draggable progress bar slider so you could see where the footprint is on various points of the pass. You can somewhat estimate what a satellite's coverage will be on a pass but higher orbit vs. lower orbit etc means that some kind of preview would be f

[2022-04-06 12:14] sqlxx opened #90 "[Feature Request]Sending the mobile phone's Azimuth & Elevation together with satellite data through TCP"
I'm using Look4Sat to control a custom rotator through an application running on a computer. The rotator doesn't have feedback so I can only determine the angle by rotate time multiple rotate speed, which is not precise.

If Look4Sat can send the mobile phone's Azimuth & Elevation together with the satellite data, I could fix the phone on the rotator, then the application can calculate the differe

[2022-04-09 17:26] 4O4A opened #91 "Fetaure request: Custom frequency Doppler correction"
Hello,
What I would like to see is a custom frequency Doppler correction on linear satellites, either uplink or downlink.
When downlink frequency is entered, I would like to see what should be the uplink frequency. A lot of hams use only one radio, this information might help them to find correct uplink/downlink frequency.

[2022-04-19 07:00] bv2dq commented on #39
@rt-bishop I teach high school students to make Yagi antennas, and it best to use your apk..It works well..Thank you for your contribution.
I have a problem and can't import the TLE file I made, can you help me to find the problem?
[BaoFengTLE 041922.txt](https://github.com/rt-bishop/Look4Sat/files/8510630/BaoFengTLE.041922.txt)

73 de Randson /BV2DQ

[2022-04-20 08:14] rt-bishop commented on #39
Hey @bv2dq, I'm super glad to hear about this, epic! That was the intention for making the app open-source so more people can get into radio and satcom. The TLE file import is very sensitive to the file formatting. Simply delete the trailing spaces so there are no empty lines in the end of file and the import will succeed. Have just tried it on your file and it works. TLE format is not efficient f

[2022-05-17 16:16] qwerty287 opened #93 "Don't view all satellites on the map"
This is kind of a a bug:
1. Select all satellites
2. Open the map

It will load a while and is unusable then. My suggestion would be to only display the next ~10 satellites on the map to improve performance of it. Thanks!

[2022-05-17 16:24] rt-bishop commented on #93
Hello! Thanks for the suggestion. Although I don't understand what's the issue here. I can't alter the user's decision in a hidden way. If the user wants all 6k satellites - there you go. Also, one does not simply need the map to track satellites, it's there to be a fancy decoration. So there is no usecase for tracking 6k satellites and observing them on the map.

[2022-05-17 16:47] rt-bishop commented on #93
No, definitely don't want to do that. Because the use case doesn't seem valid to me.

[2022-05-17 17:03] #93 closed, assigned to nobody

[2022-05-19 00:06] ckuethe commented on #93
As a practical matter, how would one decide on subset of x satellites to display? Let's say I select all the starlinks... what would be a good strategy to select which ones to show? What if there are some I always want to know about wherever they are (ISS), potentially in relation to some other constellation (eg. Iridium?) - how would I pin the ISS to never be downsampled? What if the constellatio

[2022-05-27 18:19] ninjix commented on #90
+1 I am also interested in having a TCP or UDP push of satellite position data to a network address.

[2022-06-03 15:03] #63 closed

[2022-06-04 01:01] tekk commented on #63
@rt-bishop You rock, my friend!

Will test this as soon as possible.

Thanks for implementing this feature,
I think many people will benefit from it, since you can simply decode the cleartext Az/El on any MCU imaginable.

Thanks again!
Will let you know when I'll have a rotator ready.

Wish you all the best!
73

[2022-06-22 05:39] ryandzink opened #94 "Satellite pass radar view showing odd artifacts since ~v3"
I am not sure if this is an isolated issue but I am often seeing pass arcs look very strange, starting roughly since v3 of the app was released a few months ago. This never seems to happen when just opening the radar view from the pass list, only when already on the radar view and returning to it from another app or when unlocking the phone when it was previously on this radar view.

I am using a

[2022-07-09 02:52] ryandzink commented on #94
This is very interesting. I can reproduce it within a few seconds on my phone very reliably. Let me try clearing my cache, etc. and seeing if any of that has any effect.

[2022-07-09 18:57] ryandzink commented on #94
OK, that didn't have any effect. I cleared cache and it is still happening. For reference I'm using a Pixel 5a and Android 12.

[2022-07-15 19:11] MrARM commented on #94
Can also confirm this bug happens on my Samsung Fold 3 running android 12, it seems to happen while I'm using the pointer for extended periods of time.

[2022-07-16 22:46] ryandzink commented on #94
I'm not sure if this most recent screenshot might point to a root cause, it seems like the pass is trying to draw on a circle that is offset from the radar circle...

![Screenshot_20220702-102432](https://user-images.githubusercontent.com/13768946/179374068-6e31d2cd-bbc5-413c-9760-9fbfc4eeb3ed.png)

[2022-07-25 19:46] bomturbo opened #95 "111"
378c3ac4bfb74ae441fe27eef0fda5a4292e135f

[2022-07-27 18:02] #95 closed

[2022-08-10 05:57] drws opened #96 "[Feature request] Auto-update satellite data"
Currently the user has to remember to update satellite data and perform it manually in the settings. Auto-update function would be a great improvement. There is no need for a background service, just a trigger upon application startup to automatically update data if a configurable interval of time has passed since (and maybe notify the user with some kind of a non-intrusive indication).

[2022-08-12 10:15] drws opened #97 "[Feature request] Sun and Moon selection"
It'd be great to be able to choose the Sun and the Moon beside satellites in the app. Additionaly their icons could be displayed on the map.

An even cooler additional feature would be to also mark satellite passes that interfere with the Sun to a configurable degree (literally :smile:).

[2022-08-20 04:53] TripleWhy opened #98 "Radar view doesn't initialize"
When I click on any sattelite, I get what I assume is an uninitialized radar view. I can't do anything either, except for pressing the android back button.

![Screenshot_20220820-064440](https://user-images.githubusercontent.com/2760830/185729270-c05cfb1b-47ae-42f5-9076-73e2738f0e78.png)

[2022-08-20 09:04] rt-bishop commented on #98
Hey @TripleWhy! Thanks for reporting this. I wonder how did you get there? Please provide some more details as I can't reliably fix something I can't recreate myself on any of my devices. Are you on the latest version, 3.1.1? How do you reproduce the bug? Does it happen occasionally or all the time? Did you try cold start of the app (swiping the window from the Android's overview)? Did you try cle

[2022-08-20 10:26] TripleWhy commented on #98
Sorry for the brief description, I was using said phone to report this. The program version is 3.1.1, installed from F-Droid, the phone is on Android 12. Apart from that, I don't really have much more information. I set my position to GPS, the data provider to online, selected all satellites and clicked one from the list. That happened with every satellite, and not just briefly.

However, now, som

[2022-08-20 10:32] rt-bishop commented on #98
Hmm, I'm super glad that it's resolved 😁 but we can leave this issue open for now, just in case the bug comes back. I'm reviewing the code at the moment but can't find anything suspicious that may led to such a behaviour. Anyway, the most important thing is that it works now))

[2022-09-02 07:34] EugenGez opened #99 "Using sensors for rotating radar view doesn't work on some devices"
Hi together.

The following issue applies for Samsung Galaxy A3 2016 / SM-A310F / Android 7.0

When "Use sensors to rotate  radar view" is active, then the red cross is only showed at azimuth: 0°, elevation: 0°. I successfully tested the sensors with other apps like HamGPS, so they are working properly.

On some other smartphones, including Samsung Galaxy J7 / SM-J730F / Android 9, this feature wo

[2022-09-02 08:43] rt-bishop commented on #99
Hey @EugenGez, thanks for reporting this issue!

Look4Sat is currently using the google recommended sensor-fusion way of getting the data from the phone's sensors. The old legacy way is using the accelerometer and gyroscope which may be missing on certain phone models. Also AFAIK Samsung tends to change the default behaviour of certain system components which may lead to this issue when sensor-fus

[2022-09-02 10:31] EugenGez commented on #99
Hi @rt-bishop,

Maybe it would be possible to implement both ways to additionally support older devices as well? The decision about how to access the sensors could then be made by the application itself at start time or even by the user in the settings.

I'm a developer too and I know, it could be much work, since You most probably would need to implement an abstraction layer for that two access w

[2022-10-05 08:18] Jordi100 opened #100 "Where is the Earth 3D view?"
Hello:
Thank you for this amazing app.
I have downloaded the app from Google Play and it has an option to see the Earth in 3D View.
But after download the code, I can not find this 3D view.
Please, where is it?
Regards,

Jorge

[2022-10-09 09:00] rt-bishop commented on #100
Hey @Jordi100! Thanks for the issue =)

There was never an option to see the Earth in 3D in this app. Also, I don't plan to implement such an option. The app is using [OSMDroid](https://github.com/osmdroid/osmdroid) as a library to display the Earth in 2D, but 3D never existed. I'm not sure where did you get this info from as it's not mentioned on GooglePlay or F-Droid repository.

[2022-10-14 10:12] Jordi100 commented on #100
Hello rt-bishop,
Thank you for your answer.
I downloaded another app thinking it was yours. Sorry for the confusion.
Best regards,

Jordi

[2022-10-14 10:33] #100 closed

[2022-10-14 10:33] #98 closed

[2022-10-23 13:33] rt-bishop commented on #96
Implemented in v3.1.2, update time was set to 48 hours to balance the update frequency and the TLE precision

[2022-10-23 13:34] #96 closed